@model KuyaTest.Models.ProgrammingModel

@{
    ViewBag.Title = "ProgrammingView";
}

<h2>ProgrammingView</h2>

@using (@Html.BeginForm("Create", "Programming"))
{
    @Html.ValidationSummary(true)


@Html.DropDownListFor(x=>x.SelectedProgrammingLanguage,
                new SelectList(Model.ProgrammingLanguages), "--SELECT--")
    @Html.ValidationMessageFor(model => model.SelectedProgrammingLanguage)
   @Html.ActionLink("Save", "Create")
    
}